.posts {
    background-color: black; 
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 3rem;
}

.post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logoforpost {
    margin: 10px;

}

.modalclassNameforAPost {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-content{
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 94%;
    margin: auto;
    border: none;
    background-color: #1f1e1e;
    margin-top: 15px;
    box-shadow: 0 0 10px #00000033;
}

.modalclassNameforAPost:focus{
    outline: none;
}


.scrollable-div {
    height: 70vh;
    overflow: auto
}

.scrollable-div::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background-color: transparent;
}