/* .Profilerightbar{
    flex: 1;
    background-color: black;
    padding-left: 40px;
    color:white;
    padding-top: 20px;
    padding-left: 250px;
} */

.subProfilerightbar{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.postContainerForProfile{
    margin: 10px 2.9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
    gap: 5px;
    margin-top: 4rem;
}