
.forget-password-navbar{
    background-color: #fff;
    border-bottom: .1px solid rgb(206, 206, 206);
    position: sticky;
    top: 0;
}

.brand-icon{
    margin-left: 12rem;
}

img{
    /* background-color: red; */
}

.forget-password-container{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.forget-password-container > div{
    margin-top: 3rem;
    max-width: 380px;
    /* height: 100dvh; */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: .1px solid rgb(206, 206, 206);
    align-items: center;
}

.forget-password-section{
    /* background-color: red; */
    padding: 0 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.forget-password-form{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.forget-password-form input{
    padding: .5rem 0;
}

.forget-password-form input[type= "email"]{
    border: .1px solid rgb(206, 206, 206);
    border-radius: 5px;
    padding-left: .5rem;
}

.forget-password-form input[type="email"]:focus{
    outline: none;
}
.or{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    margin: 0;
    margin-top: 1rem;
}

.forget-password-form .hr{
    margin: 0;
    background-color: #000000;
    width: 7.5rem;
    height: 1px;
    opacity: .4;
}

.forget-password-form .or p{
    margin: 0;
}

.forget-password-form input[type= "submit"]{
    background-color: var(--submit-button);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.forget-password-form input[type="submit"]:focus{
    outline: none;
}

